.buscar {
    top: 65px;
    left: .5em;
}

.capas {
    top: 105px;
    left: .5em;
}

.ol-touch .capas {
    top: 80px;
}

.tooltip-inner {
    white-space: nowrap;
    width: auto;
    max-width: 350px;
}

#map:focus {
    outline: #4A74A8 solid 0.15em;
}

.panel-capas, .panel-buscar {
    display: none;
    width: auto;
    position: relative;
    padding: 0.4em;
    border: 2px solid #2aabd2;
}

.sub-panel-capas {
    display: none;
    width: auto;
    position: relative;
    padding: 0.4em;
    border: 2px solid #2aabd2;
    margin-left: 20px;
}

.panel-consulta {
    display: none;
    width: 350px;
    height: auto;
    top: 10%;
    left: 70%;
    padding: 0.4em;
    border: 2px solid #2aabd2;
}

label {
    display: inline;
}

.imprimir {
    top: 145px;
    left: .5em;
}

.ol-touch .imprimir {
    top: 80px;
}

.panel-capas-visibles {
    display: none;
    width: auto;
    min-width: 350px;
    height: auto;
    top: 60%;
    left: 70%;
    padding: 0.4em;
    border: 2px solid #2aabd2;
}

.ul-capas-visibles {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.li-capas-visibles {
    margin: 5px;
    padding: 5px;
    width: auto;
}

.cerrar {
    position: absolute;
    right: 15px;
    height: 10px;
    width: 10px;
}

.menu {
    position: absolute;
    right: 35px;
    height: 10px;
    width: 10px;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.panel-info-capas {
    display: none;
    width: auto;
    min-width: 350px;
    height: auto;
    top: 60%;
    left: 0.5%;
    padding: 0.4em;
    border: 2px solid #2aabd2;
}