.buscar {
    top: 65px;
    left: .5em;
}

.capas {
    top: 105px;
    left: .5em;
}

.imprimir {
    top: 145px;
    left: .5em;
}

.ayuda {
    top: 185px;
    left: .5em;
}

.tooltip-inner {
    white-space: nowrap;
    width: auto;
    max-width: 350px;
}

#map {
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 90%;
}

#map:focus {
    outline: #4A74A8 solid 0.15em;
}

.panel-capas, .panel-buscar {
    display: none;
    width: auto;
    position: relative;
    padding: 0.4em;
    border: 2px solid #2aabd2;
    z-index: 10;
}

.sub-panel-capas {
    display: none;
    width: auto;
    position: relative;
    padding: 0.4em;
    border: 2px solid #2aabd2;
    margin-left: 20px;
}

.panel-consulta {
    display: none;
    width: 350px;
    height: auto;
    top: 10%;
    left: 70%;
    padding: 0.4em;
    border: 2px solid #2aabd2;
}

label {
    display: inline;
}

#capas-base, #capas-dgeyc, button.dgeyc-subcat {
    width: 100%;
    height: 25px;
    padding: 5px;
}

.panel-capas-visibles {
    display: none;
    width: auto;
    min-width: 350px;
    max-width: 480px;
    height: auto;
    max-height: 250px;
    top: 60%;
    left: 70%;
    padding: 0.4em;
    border: 2px solid #2aabd2;
    overflow: auto;
}

.panel-leyenda {
    display: none;
    width: auto;
    height: auto;
    top: 40%;
    left: 70%;
    padding: 0.4em;
    border: 2px solid #2aabd2;
    max-height: 120px;
    max-width: 360px;
    overflow: auto;
}

.ul-capas-visibles {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.li-capas-visibles {
    margin: 5px;
    padding: 5px;
}

.capa-visible, .cerrar, .descargar-capa, .descargar{
    position: relative;
    height: 10px;
    width: 10px;
    margin-left: 5px;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.panel-info-capas {
    display: none;
    width: auto;
    height: auto;
    top: 60%;
    left: 0.5%;
    padding: 0.4em;
    border: 2px solid #2aabd2;
}

.exportar:link {
    text-decoration: none;
}

.ol-dragbox {
    background-color: rgba(255,255,255,0.4);
    border-color: #2aabd2;
}

#info {
    overflow: auto;
    height: auto;
    width: auto;
    max-height: 230px;
    max-width: 380px;
    margin-top:10px;
}

#consulta-aceptar, #consulta-cancelar {
    position: relative;
    top: 20%;
    left: 50%;
    width: 80px;
    height: 25px;
    padding: 5px;
}

.column {
    padding: 5px;
    background: #2aabd2;
}

th {
    text-align: center;
}

.tabla-capas-serv {
    margin-top: 5px;
}

#tabla-capas tr:hover
{
    background-color: #2aabd2;
    color: white;
}

input.text, input.search {
    margin-bottom:12px;
    width:95%;
    padding: .4em;
}

fieldset {
    padding:0;
    border:0;
    margin-top:25px;
}

#input-buscar {
    width: auto;
}

.ui-dialog-titlebar {
    background: #2aabd2;
}

.agregar-servidor {
    align-items: center;
}

#cargando {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('img/loading.gif') no-repeat center center;
}

.sub-menu {
    background: #2aabd2;
    padding: 5px;
}

img.iconos-ayuda {
    width: 25px;
    height: 25px;
}

#logo_chubut {
    width: auto;
    height: 50px;
    float: right;
    padding: 8px;
}

#logo_dgeyc {
    width: auto;
    height: 80px;
}

#titulo_banner {
    color: #2aabd2;
    text-align: center;
    text-shadow: 3px 2px #3d6889;
    font-weight: bold;
    font-variant: small-caps;
}

#banner {
    float: top;
    width: 100%;
}

.transparencia-capa, .transparencia {
    position: relative;
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

#contenedor-slider {
    padding-top: 5px;
    padding-right: 20px;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}